src/main/resources/rule-config.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="rule-config">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="title"/>
                <xs:element type="xs:string" name="description"/>
                <xs:element name="rule-list">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="rule" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="id"/>
                                        <xs:element type="xs:string" name="group-id"/>
                                        <xs:element type="xs:string" name="title"/>
                                        <xs:element type="xs:string" name="description"/>
                                        <xs:element type="xs:string" name="version"/>
                                        <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>